html, body, .canvas {
	height: 100%;
	width: 100%;
	margin: 0;
	box-sizing: border-box;;
}

.canvas {
	position: fixed;
	top:  0;
	left: 0;
}


.output__wrapper {
	display: flex;
	width: 15%;
	max-width: 300px;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;
	flex-direction: column;
	justify-content: space-between;
	/*pointer-events: none;*/
	background: rgba(0,0,0,0.05);
}
	.output__previews  {
		position: relative;
	}
		.output__drawn {
			width: 100%;
			height: auto;
			position: absolute;
			top: 0;
			left: 0;
		}
			.output__drawn[src=""]{
				opacity: 0;
			}
			.output__drawn:not([src=""]){
				opacity: 1;
			}
			.output__drawn.output__drawn--active {
				opacity: 1;
			}
			.output__drawn.output__drawn--inactive {
				opacity: 0.2;
			}
			.output__drawn:first-of-type {
				position: relative;
			}
			.output__drawn[src=""] ~ .output__controls {
				opacity: 0;
			}
		.output__label {
			opacity: 0.5;
		}
		.output__label:hover {
			opacity: 1;
			cursor: pointer;
		}
	.output__scores {}
		.output__score::after {
			content: "%";
		}